@model IList<VersionPlan>
@using Zero.Data.Projects
@using NewLife;
@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@using XCode.Membership;
@using NewLife.Cube;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
    var fields = ViewBag.Fields as IList<FieldItem>;
    var set = ViewBag.PageSetting as PageSetting;
    var provider = ManageProvider.Provider;
}
<table class="table table-bordered table-hover table-striped table-condensed">
    <thead>
        <tr>
            @if (set.EnableSelect)
            {
                <th class="text-center" style="width:10px;"><input type="checkbox" id="chkAll" title="全选" /></th>
            }
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("ID"))">编号</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("TeamId"))">团队</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("ProductId"))">产品</a></th>
            <th class="text-center" title="名称。版本号"><a href="@Html.Raw(page.GetSortUrl("Name"))">名称</a></th>
            <th class="text-center" title="类型。常规/紧急"><a href="@Html.Raw(page.GetSortUrl("Kind"))">类型</a></th>
            <th class="text-center" style="min-width:80px;"><a href="@Html.Raw(page.GetSortUrl("StartDate"))">开始日期</a></th>
            <th class="text-center" style="min-width:80px;"><a href="@Html.Raw(page.GetSortUrl("EndDate"))">结束日期</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("ManHours"))">工时</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("Enable"))">启用</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("Completed"))">完成</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("Stories"))">故事</a></th>
            <th class="text-center" style="min-width:134px;"><a href="@Html.Raw(page.GetSortUrl("CreateTime"))">创建时间</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("UpdateUser"))">更新者</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("UpdateUserID"))">更新人</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("UpdateIP"))">更新地址</a></th>
            <th class="text-center" style="min-width:134px;"><a href="@Html.Raw(page.GetSortUrl("UpdateTime"))">更新时间</a></th>
            <th class="text-center">新增故事</th>
            @if (this.Has(PermissionFlags.Detail, PermissionFlags.Update, PermissionFlags.Delete))
            {
                <th class="text-center">操作</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                @if (set.EnableSelect)
                {
                    <td class="text-center"><input type="checkbox" name="keys" value="@entity.ID" /></td>
                }
                <td class="text-center">@entity.ID</td>
                <td><a href="Team?ID=@entity.TeamId">@entity.TeamName</a></td>
                <td><a href="Product?ID=@entity.ProductId">@entity.ProductName</a></td>
                <td title="@entity.Remark">@entity.Name</td>
                <td class="text-center">@entity.Kind</td>
                <td class="text-center">@entity.StartDate.ToString("yyyy-MM-dd")</td>
                <td class="text-center">@entity.EndDate.ToString("yyyy-MM-dd")</td>
                <td class="text-right">@entity.ManHours.ToString("n0")</td>
                <td class="text-center">
                    <i class="glyphicon glyphicon-@(entity.Enable ? "ok" : "remove")" style="color: @(entity.Enable ? "green" : "red");"></i>
                </td>
                <td class="text-center">
                    <i class="glyphicon glyphicon-@(entity.Completed ? "ok" : "remove")" style="color: @(entity.Completed ? "green" : "red");"></i>
                </td>
                <td class="text-center"><a href="Story?versionId=@entity.ID">@entity.Stories</a></td>
                <td class="text-center">@entity.CreateTime.ToFullString("")</td>
                <td>@entity.UpdateUser</td>
                <td class="text-center">@provider.FindByID(entity.UpdateUserID)</td>
                <td class="text-center" title="@entity.UpdateIP.IPToAddress()">@entity.UpdateIP</td>
                <td class="text-center">@entity.UpdateTime.ToFullString("")</td>
                <td class="text-center"><a href="Story/Add?versionId=@entity.ID&enable=1&productId=@entity.ProductId" title="增加用户故事">新增故事</a></td>
                @if (this.Has(PermissionFlags.Detail, PermissionFlags.Update, PermissionFlags.Delete))
                {
                    <td class="text-center">
                        @await Html.PartialAsync("_List_Data_Action", (Object)entity)
                    </td>
                }
            </tr>
        }
        @if (page.State is VersionPlan)
        {
            var entity = page.State as VersionPlan;
            <tr>
                @if (set.EnableSelect)
                {
                    <td></td>
                }
                <td></td>
                <td class="text-center">总计</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">@entity.ManHours.ToString("n0")</td>
                <td></td>
                <td></td>
                <td class="text-right">@entity.Stories.ToString("n0")</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                @if (this.Has(PermissionFlags.Detail, PermissionFlags.Update, PermissionFlags.Delete))
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>